{% extends 'home/base.html' %}

{% load static %}	
{% load crispy_forms_tags %}

{% block body %}



<div class="fadeInDown">
    <div class="reset-form">
        
        <form action="/">
            <h2>Reset Complete</h2>
            <p style="text-align: Justify; color: green;">Your password has been set. You may go ahead and log in now.</p>
           

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Ok</button>
            </div>
        
        </form>
        
    </div>

</div>

{% endblock %}

<!-- <h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="/">Log in</a> -->




 