# Environment Variables
SECRET_KEY=2)9-dwnv1a#5+^7g+lm*@xb5+poi8k)j^z($_drosr#kqhwfr*
DEBUG=TRUE

# Database connection string
DB_NAME=Movie
DB_USER=root
DB_PASSWORD=



# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email_address
EMAIL_HOST_PASSWORD=your_password



# Static & Media Configuration
#NOTE: STATIC_ROOT is blank for local host and In Production STATICFILES_DIRS is blank.

STATIC_ROOT=
STATICFILES_DIRS=static
MEDIA_ROOT=media

#For SITE_ID
SITE_ID=1